<div class="container">
<h2>User info</h2>
  <%= form_with model: User.new do |f| %>
    <label for="user_name">Name</label></br>
    <%= f.text_field :title %>
    
    <div class="form-group">
        <label for="user_image">Image</label>
        <input class="form-control-file user_image" accept="image/*" type="file" name="user[profile_image]" id="user_profile_image">
      </div>
	
    <label for="user_introduction">Introduction</label></br>
    <%= f.text_area :body %><br>
	
    <%= f.submit 'Update User' %>
  <% end %>
</div>