// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
 
main {
  margin: 0 auto;
  width: 550px;
}

h1 {
  padding-top: 15px;
}

.p2 {
  line-height: 33px;
}

.btn {
  margin: 0 auto;
  width: 550px;
}

.log-in-btn {
  padding: 3px 200px;
  border-radius: 3px;
  background-color: #008bbb;
  color: white;
  border: none;
}

.sign-up-btn {
  padding: 3px 195px;
  margin-top: 10px;
  border-radius: 3px;
  background-color: #00AA00;
  color: white;
  border: none;
}